body{

    margin:0;

    min-height:100vh;

    background:
    linear-gradient(
        #E8F5E9,
        #C8E6C9
    );

    font-family:Arial,sans-serif;
}

h1{

    text-align:center;

    margin-top:40px;

    color:#1B5E20;
}

.leaderboard{

    width:80%;

    margin:auto;

    margin-top:50px;
}

.team-card{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;

    margin-bottom:15px;

    background:white;

    border-radius:15px;

    box-shadow:
    0 5px 15px rgba(0,0,0,.1);
}

.rank{

    font-size:30px;

    font-weight:bold;

    color:#FF9800;
}

.team-name{

    font-size:24px;

    font-weight:bold;
}

.trees{

    font-size:24px;

    color:#2E7D32;
}

.back-btn{

    position:absolute;

    top:20px;

    left:20px;

    background:white;

    padding:12px 25px;

    border-radius:12px;

    text-decoration:none;

    color:black;
}
