<!DOCTYPE html>
<html>

<head>

    <title>

        Leaderboard

    </title>

    <link
    rel="stylesheet"
    href="{{ url_for(
    'static',
    filename='css/leaderboard.css'
    ) }}">

</head>

<body>

<a
href="/"
class="back-btn">

    ← Home

</a>

<h1>

    🏆 Forest Leaderboard

</h1>

<div class="leaderboard">

{% for forest in forests %}

<div class="team-card">

    <div class="rank">

        #{{ loop.index }}

    </div>

    <div class="team-name">

    {{ Team.query.get(forest.team_id).team_name }}

</div>

    <div class="trees">

        🌳 {{ forest.tree_count }}

    </div>

</div>

{% endfor %}

</div>

</body>

</html>